@import "tailwindcss";

@theme {
    --color-default-50: #ebffff;
    --color-default-100: #cdfbff;
    --color-default-200: #a1f5ff;
    --color-default-300: #60ebff;
    --color-default-400: #18d7f8;
    --color-default-500: #00bade;
    --color-default-600: #0092b8;
    --color-default-700: #087596;
    --color-default-800: #105f7a;
    --color-default-900: #124f67;
    --color-default-950: #053347;
}